.card{
  display: flex;
  flex-direction: column;
  min-height: calc(100%);
  // min-height: calc(100% - 16px);
  // margin-top: 8px;
  // margin-bottom: 8px;
}

.card > div:first-child{
  position: relative;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  min-height: 154px !important;
  max-height: 200px;
  height: 15vmax;
}
.card img{
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  width: auto;
  display: block;
}
// .card img{
//   min-height: 100%;
//   min-width:100%;
//   max-width: 100%;
//   display: block;
// }

.card > div:last-child{
  margin-top: auto;
}

.card:not([layout]){
  justify-content: start;
}

// left right card
.card[layout="2"],
.card[layout="3"],
.card[layout="4"]{
  flex-wrap: wrap;
  // align-items: start;
}

.card[layout="2"],
.card[layout="4"]{
  flex-direction: row;
}

.card[layout="3"]{
  flex-direction: row-reverse;
}

.card[layout="1"] > div:nth-child(1){
  // padding: 23%;
}

// orders
.card[layout="2"] div:nth-child(1),
.card[layout="3"] div:nth-child(1),
.card[layout="4"] div:nth-child(1){
  order: 0;
  // padding: 25%;
}
.card[layout="2"] div:nth-child(2),
.card[layout="3"] div:nth-child(2),
.card[layout="4"] div:nth-child(2){
  order: 1;
}
.card[layout="2"] div:nth-child(3),
.card[layout="3"] div:nth-child(3),
.card[layout="4"] div:nth-child(3){
  order: 2;
}

// widths
.card[layout="2"] > div,
.card[layout="3"] > div,
.card[layout="4"] > div{
  min-width: 250px; // force it to stack so it doesnt squish too small
  flex: 1 1 50%;
}

.card[layout="2"] div:nth-child(3),
.card[layout="3"] div:nth-child(3),
.card[layout="4"] div:nth-child(3){
  display: flex;
  flex: 1 1 auto;
}

.card[layout="3"] div:nth-child(3),
.card[layout="4"] div:nth-child(3) {
  justify-content: flex-end;
  align-items: flex-end;
}


.card[layout="2"] div:nth-child(3) > *,
.card[layout="3"] div:nth-child(3) > *,
.card[layout="4"] div:nth-child(3) > *{
  width: auto;
  min-width: 50%;
}

