
/*      COLORS
==================*/

$colors: (
    black: (
        1: #000000,
        2: #1A1A1A
    ),
    gray: (
        1: #7A7A7A,
    ),
    rosewood: (
        1: #4F000B,
        2: #611720,
        3: #84454B,
        4: #B98A8B,
        5: #EDCFCC
    ),
    claret: (
        1: #720026,
        2: #8E2C4D,
        3: #AA5874
    ),
    brick: (
        1: #CE4257,
        2: #D85F72,
        3: #E27C8D
    ),
    coral: (
        1: #FF7F51,
        2: #FF9162,
        3: #FFA374,
        4: #FFB685,
        5: #FFD19F
    ),
    white: (
      1: white,
      2: hsla(0%, 0%, 92%, 1),
      3: hsla(0%, 0%, 84%, 1)
    ),
    inherit: inherit,
);
