[flex]{
    display: flex;
    flex-direction: column;
}
[flex][wrap]{
    flex-wrap: wrap;
}

[flex][row]{
    flex-direction: row;
}
[flex][row] > * {
    flex: 1;
}

[flex][row][middle],
[flex][row][align="middle"]{
    align-items: center;
}
[flex][middle]{
    justify-content: center;
}

[flex][center]:not([row]){
    align-items: center;
}
[flex][row][center],
[flex][row][align="center"]{
    justify-content: center;
}

[flex][row][between]{
    justify-content: space-between;
}
[flex][stretch]{

}